*{
  margin: 0;
  padding: 0;

}
.App {
  background-color:#000000ef;
  color: rgb(253, 253, 253);
  text-shadow: 2px 2px 2px #b4a698;
  background-image:  url("./Componentes//img/carrusel1.jpg");
  background-size:cover;
  background-attachment: fixed;
 
  
}

.titulo{
  
  margin-left: 30;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 80px;
  text-shadow: 4px 4px 4px #e9e3dd;
  color: rgba(255, 255, 250, 0.952);    
}


.titulo:hover{
  color: hsl(0, 3%, 44%);
}

.dropdown{
  margin-left: 15px;
  margin-right: 15px;
}


.dropdown-item{
  font-size: 35;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-style:italic;
  text-decoration: none;
}

.dropdown-item:hover{
  color: #e69662;
}

span{
  font-size: 35;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-style:italic;
  text-decoration: none;
}

span:hover{
  color: #e69662;
}

lu{
  font-size: 35;
  font-style:italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

Link{
  font-size: 35;
  color: white;
  font-style:italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}


.container10{
  display: flex;
  height: auto;
  width: 1370;
  margin-top: 100;
  margin-left: 400;
  background-color: hsl(0, 2%, 36%);;
  text-shadow: 4px 4px 3px #181616;

  

}



.container2{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1670;
  height:fit-content;
  margin-left: 200;

}

.card-img-top{
  max-height: 400;
  max-width: 400;
}




 .container3{
 
   background-color: rgba(228, 161, 122, 0.39);
   max-width:  380px;
   max-height: auto;
   margin-left: 30px;
   margin-top: 30;
   margin-bottom: 30;
   color: #080808;
   
   
 }

 .container4{
  background-color: rgba(133, 67, 34, 0.39);
  color: white;
  display: flex;
  width: 1700;
  margin-top: 100;
  margin-bottom: 300;
  margin-left: 150;
  
 }

 
 .container-tab{
  background-color: #080808;
  margin-left: 50;
  display: flex;
  
 }
 .container-tabindex{
  display:inline;
  background-color: #ece7e4;

 }

 .imagetab:hover{
  background-color: white;
 }

 .imagentab{
  max-width: 150;
  margin-top: 10;
  margin-bottom: 10;
  margin-right: 10;
  margin-left: 10;
 }

 .imagentab2{
  width: 900;
  margin-top: 10;
  margin-bottom: 10;
  
 }

 #carouselExampleFade{
 
  background-color: rgba(212, 73, 30, 0.363);
  width: 940;
  height: 1030;
  
 }

 .carousel-inner{
  background-color: white;
  margin-top: 30;
  margin-left: 20;
  margin-right: 60;
  width: 900;
  height: 960;
  align-items: center;
 }

 .card-img{
  
  height: 900;
  width: 980;
}


 .containerdetalles{
  display: flex;
  width: 1000;
  height: 1000;
  margin-top: 70;
 
  
 }

 .container5{
  display: flexbox;
  color: #080808;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 27;
  width: 1200;
  margin-bottom: 100;
  margin-top: 100;
  margin-left: 400;
  
 
  
 }
.btn{
  font-size: 18;
}


 #cardItemid{
  align-items:center;
  font-style: italic; 

 }
 

 #containerContador{
 
 display: flex;
 margin-top: 10px; 
 margin-left: 170;
  
 }

 .cantidad{
  width: 30px;
  text-align: center;
  font-size: larger;
  font-style:initial;
  
 }

#botonAgregar{
  margin-top: 25px;
  font-size: 20;
  width: 260;
  margin-left: 100;
}

#verCarrito{
  margin-top: 30px;
  width: 260;
  font-size: 20;
  margin-left: 110;

 }


 .container11{

  width: 1470;
  margin-top: 100;
  margin-left: 400;
  background-color: hsl(0, 2%, 36%);;
  font-family: Georgia, 'Times New Roman', Times, serif; 

}

.container12{

  width: 390;
  display: flex;
  margin-top: 90;
  margin-left: 1500;
  color: #080808;
  background-color: hsl(0, 4%, 52%);;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size: 28;

}

 .renglonesCarrito{

  background-color: white;
  color: #080808;
  align-content: center;
  
 }

 .table{
  font-size: 25;
  margin-left: 10;
  
 
 }

 #cardImg{
  width: 600;
 }

 .card{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 150px;
 }

 .card-body{

  margin-left: 30;
  margin-right: 30;
  margin-top: 40;
  margin-bottom: 40;
 }


 .footer {
  display: block;
}



.elementor-column {
  display: flex; 
  margin-top: 100;
  background-color: #3b39394b;
}

.elementor-widget-wrap{
  background-color: #aa9d9d65;
}

 .elementor-container {
  display: flex;
  position: relative; 
  justify-content: center;
  font-size: 25;
  margin-top: 50;
 
}

.elementor-widget-wrap {
    position: relative;
    width: 40%;
    margin-right: 30;
    margin-left: 40;
    margin-bottom: 50;
    margin-top: 50;
 
}

.elementor-icon-list{
  margin-left: 40;
}
.elementor-icon-list-text{
  
  font-size: 25;
}

.elementor-heading-title{
  font-size: 30;
  margin-left: 70;
}